.git/
.gitattributes
.gitignore
.hg/
.svn/
node_modules/
src/services/ontology-service/target/
src/services/versioning-service/target/
src/services/frontend/node_modules/
src/services/frontend/dist/
src/services/metrics-service/.venv/
src/services/metrics-service/.pytest_cache/
src/services/metrics-service/.ruff_cache/
*.log
*.md
