{
  "openapi": "3.1.0",
  "info": {
    "title": "VEDO Core REST API",
    "description": "REST API for ontology management — classes, properties, individuals, versioning, and queries.\n\nBase URL: `/api/v1`\n\nAll endpoints require authentication via Bearer JWT token in the `Authorization` header.\n\n## Error format\n\nAll errors return:\n```json\n{\n  \"error\": {\n    \"code\": \"GATEWAY-ERROR-CODE\",\n    \"message\": \"Human-readable error description\"\n  }\n}\n```\n\n## Pagination\n\nList endpoints accept `page` and `per_page` query parameters and return:\n```json\n{\n  \"data\": [...],\n  \"meta\": {\n    \"page\": 1,\n    \"per_page\": 20,\n    \"total\": 42,\n    \"total_pages\": 3\n  }\n}\n```",
    "version": "0.3.0",
    "contact": {
      "name": "VEDO Core Team",
      "url": "https://vedo.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.vedo.dev/api/v1",
      "description": "Production API"
    },
    {
      "url": "http://localhost:8080/api/v1",
      "description": "Local development"
    }
  ],
  "paths": {
    "/ontologies": {
      "get": {
        "summary": "List ontologies",
        "description": "Returns a paginated list of ontologies the authenticated user has access to.",
        "operationId": "listOntologies",
        "tags": ["Ontologies"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query",
            "schema": { "type": "string" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of ontologies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/OntologySummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create ontology (deprecated)",
        "description": "Deprecated: under the 1:1 Project ↔ Ontology model, an Ontology is created implicitly when its Project is created via POST /api/v1/projects. This endpoint is retained only for the legacy standalone-import flow and will be removed in a follow-up after the deprecation window.",
        "operationId": "createOntology",
        "tags": ["Ontologies"],
        "x-vedo-status": "deprecated",
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateOntologyRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ontology created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/OntologyDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}": {
      "get": {
        "summary": "Get ontology details",
        "description": "Returns full ontology details including counts of classes, properties, and individuals.",
        "operationId": "getOntology",
        "tags": ["Ontologies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Ontology details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/OntologyDetail" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ontology not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update ontology",
        "description": "Updates an existing ontology's label, description, or IRI.",
        "operationId": "updateOntology",
        "tags": ["Ontologies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateOntologyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ontology updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/OntologyDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete ontology",
        "description": "Deletes an ontology and all associated classes, properties, and individuals.",
        "operationId": "deleteOntology",
        "tags": ["Ontologies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": { "description": "Ontology deleted" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/classes": {
      "get": {
        "summary": "List classes",
        "description": "Returns a paginated list of classes in an ontology. Supports text search and parent filter.",
        "operationId": "listClasses",
        "tags": ["Classes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query against class labels and comments",
            "schema": { "type": "string" },
            "required": false
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "Filter by parent class ID (returns direct children)",
            "schema": { "type": "string" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of classes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ClassSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ontology not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create class",
        "description": "Creates a new class in an ontology.",
        "operationId": "createClass",
        "tags": ["Classes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateClassRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ClassDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/classes/{classId}": {
      "get": {
        "summary": "Get class details",
        "description": "Returns full class details including hierarchy breadcrumb, property count, and individual count.",
        "operationId": "getClass",
        "tags": ["Classes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "Class ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Class details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ClassDetail" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ontology or class not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update class",
        "description": "Updates an existing class's label, comment, parent, or IRI.",
        "operationId": "updateClass",
        "tags": ["Classes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "Class ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateClassRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Class updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ClassDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete class",
        "description": "Deletes a class. Fails if the class still has subclasses or individuals.",
        "operationId": "deleteClass",
        "tags": ["Classes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "Class ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": { "description": "Class deleted" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/properties": {
      "get": {
        "summary": "List properties",
        "description": "Returns a paginated list of properties. Can be filtered by type (object or datatype).",
        "operationId": "listProperties",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by property type",
            "schema": {
              "type": "string",
              "enum": ["object", "datatype"]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PropertySummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ontology not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create property",
        "description": "Creates a new property (object or datatype) in an ontology.",
        "operationId": "createProperty",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePropertyRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/PropertySummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/individuals": {
      "get": {
        "summary": "List individuals",
        "description": "Returns a paginated list of individuals. Can be filtered by class.",
        "operationId": "listIndividuals",
        "tags": ["Individuals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "class_id",
            "in": "query",
            "description": "Filter by class ID (returns individuals of that class)",
            "schema": { "type": "string" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of individuals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/IndividualSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ontology not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create individual",
        "description": "Creates a new individual of the specified class in an ontology.",
        "operationId": "createIndividual",
        "tags": ["Individuals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateIndividualRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Individual created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/IndividualSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/sparql": {
      "post": {
        "summary": "Execute SPARQL query",
        "description": "Execute a read-only SPARQL query against an ontology. Mutation queries (INSERT, DELETE) are rejected.\n\nA mandatory LIMIT of 1000 is enforced if no LIMIT clause is present.",
        "operationId": "executeSPARQL",
        "tags": ["Queries"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "SPARQL 1.1 SELECT query"
                  }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": { "type": "object" },
                    "execution_time_ms": { "type": "integer" },
                    "triple_count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or mutation query",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/cypher": {
      "post": {
        "summary": "Execute CYPHER query",
        "description": "Execute a read-only CYPHER query against an ontology. Mutation queries are rejected.\n\nA mandatory LIMIT of 1000 is enforced if no LIMIT clause is present.",
        "operationId": "executeCYPHER",
        "tags": ["Queries"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "CYPHER READ query"
                  }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": { "type": "object" },
                    "execution_time_ms": { "type": "integer" },
                    "triple_count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or mutation query",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI 3.1 specification for this API.",
        "operationId": "getOpenAPISpec",
        "tags": ["Meta"],
        "responses": {
          "200": {
            "description": "OpenAPI specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The complete OpenAPI 3.1 specification document"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "description": "Returns a paginated list of groups. Supports text search.",
        "operationId": "listGroups",
        "tags": ["Organization"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query against group labels",
            "schema": { "type": "string" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/GroupSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create group",
        "description": "Creates a new group within the organization hierarchy.",
        "operationId": "createGroup",
        "tags": ["Organization"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateGroupRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/GroupDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Get group details",
        "description": "Returns full group details including children and member count.",
        "operationId": "getGroup",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/GroupDetail" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "put": {
        "summary": "Update group",
        "description": "Updates an existing group's label, description, or parent.",
        "operationId": "updateGroup",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateGroupRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/GroupDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete group",
        "description": "Deletes a group. Fails if the group still contains projects or subgroups.",
        "operationId": "deleteGroup",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/groups/{id}/subgroups": {
      "get": {
        "summary": "List subgroups",
        "description": "Returns a paginated list of direct child groups.",
        "operationId": "listChildGroups",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of subgroups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/GroupSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      }
    },
    "/groups/{id}/members": {
      "get": {
        "summary": "List members",
        "description": "Returns a paginated list of members in a group.",
        "operationId": "listGroupMembers",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of group members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MemberSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "post": {
        "summary": "Add member",
        "description": "Adds a user as a member of a group with the specified role.",
        "operationId": "addGroupMember",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddMemberRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/MemberSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns a paginated list of projects the authenticated user has access to.",
        "operationId": "listProjects",
        "tags": ["Organization"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" },
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by parent group ID",
            "schema": { "type": "string", "format": "uuid" },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ProjectSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create project",
        "description": "Creates a new project within a group. Under the 1:1 Project ↔ Ontology model, this also creates the paired Ontology atomically.",
        "operationId": "createProject",
        "tags": ["Organization"],
        "x-vedo-status": "canonical",
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProjectRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ProjectDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get project details",
        "description": "Returns full project details.",
        "operationId": "getProject",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ProjectDetail" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "put": {
        "summary": "Update project",
        "description": "Updates an existing project's label or description.",
        "operationId": "updateProject",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProjectRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ProjectDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete project",
        "description": "Deletes a project and all associated ontologies.",
        "operationId": "deleteProject",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}/move": {
      "put": {
        "summary": "Move project",
        "description": "Moves a project to a different group.",
        "operationId": "moveProject",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target_group_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Target group ID to move the project to"
                  }
                },
                "required": ["target_group_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project moved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ProjectDetail" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "422": { "$ref": "#/components/responses/422Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
      }
    },
    "/projects/{id}/fork": {
      "post": {
        "summary": "Fork a project",
        "description": "Creates a copy of the project (with its paired Ontology) in the user's workspace. The new project gets an upstream_project_id link to the source. Fork is private by default; the caller becomes Owner.",
        "tags": ["Organization"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Source project ID to fork"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "description": "Empty body — source ID is in the path. Use Idempotency-Key header."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fork created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project_id": { "type": "string", "format": "uuid" },
                    "ontology_id": { "type": "string", "format": "uuid" },
                    "upstream_project_id": { "type": "string", "format": "uuid" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/Error" },
          "403": { "$ref": "#/components/responses/Error" },
          "503": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/projects/{id}/members": {
      "get": {
        "summary": "List project members",
        "description": "Returns a paginated list of members with access to a project.",
        "operationId": "listProjectMembers",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of project members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MemberSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "post": {
        "summary": "Add project member",
        "description": "Adds a user as a member of a project with the specified role.",
        "operationId": "addProjectMember",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AddMemberRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/MemberSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}/members/{userId}": {
      "put": {
        "summary": "Update member role",
        "description": "Updates the role of a project member. Cannot remove the last Owner.",
        "operationId": "updateProjectMemberRole",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateMemberRoleRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member role updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/MemberSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "422": { "$ref": "#/components/responses/422Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Remove project member",
        "description": "Removes a member from a project. Cannot remove the last Owner.",
        "operationId": "removeProjectMember",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": {
            "description": "Member removed"
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "422": { "$ref": "#/components/responses/422Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}/visibility": {
      "get": {
        "summary": "Get visibility level",
        "description": "Returns the current visibility level of a project.",
        "operationId": "getProjectVisibility",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Visibility level",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/VisibilityLevel" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "put": {
        "summary": "Set visibility level",
        "description": "Sets the visibility level of a project.",
        "operationId": "setProjectVisibility",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SetVisibilityRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visibility level updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/VisibilityLevel" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}/policies": {
      "get": {
        "summary": "List policies",
        "description": "Returns a list of access policies for a project.",
        "operationId": "listProjectPolicies",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PolicySummary" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "post": {
        "summary": "Create policy",
        "description": "Creates a new access policy for a project.",
        "operationId": "createProjectPolicy",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePolicyRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/PolicySummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/projects/{id}/policies/{policyId}": {
      "delete": {
        "summary": "Delete policy",
        "description": "Deletes an access policy from a project.",
        "operationId": "deleteProjectPolicy",
        "tags": ["Organization"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "policyId",
            "in": "path",
            "description": "Policy ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": {
            "description": "Policy deleted"
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/properties/{propertyId}": {
      "get": {
        "summary": "Get property details",
        "description": "Returns full property details including domain, range, and functional flag.",
        "operationId": "getProperty",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Property details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/PropertySummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "put": {
        "summary": "Update property",
        "description": "Updates an existing property's label, type, domain, range, or functional flag.",
        "operationId": "updateProperty",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePropertyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/PropertySummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete property",
        "description": "Deletes a property. Fails if the property is still in use by any individual.",
        "operationId": "deleteProperty",
        "tags": ["Properties"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "propertyId",
            "in": "path",
            "description": "Property ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": { "description": "Property deleted" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/individuals/{individualId}": {
      "get": {
        "summary": "Get individual details",
        "description": "Returns full individual details including class, properties, and relations.",
        "operationId": "getIndividual",
        "tags": ["Individuals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "individualId",
            "in": "path",
            "description": "Individual ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Individual details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/IndividualSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "put": {
        "summary": "Update individual",
        "description": "Updates an existing individual's label, class, or IRI.",
        "operationId": "updateIndividual",
        "tags": ["Individuals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "individualId",
            "in": "path",
            "description": "Individual ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateIndividualRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Individual updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/IndividualSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "delete": {
        "summary": "Delete individual",
        "description": "Deletes an individual from an ontology.",
        "operationId": "deleteIndividual",
        "tags": ["Individuals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "individualId",
            "in": "path",
            "description": "Individual ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": { "description": "Individual deleted" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/export": {
      "get": {
        "summary": "Export ontology",
        "description": "Exports an ontology in a specified format (RDF/XML, Turtle, JSON-LD, OWL/XML).",
        "operationId": "exportOntology",
        "tags": ["Ontologies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Export format (defaults to turtle)",
            "schema": {
              "type": "string",
              "enum": ["rdf/xml", "turtle", "json-ld", "owl/xml"],
              "default": "turtle"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Ontology export",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ontology_id": { "type": "string" },
                    "format": { "type": "string" },
                    "content": { "type": "string", "description": "Serialized ontology in the requested format" },
                    "triple_count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/ontologies/{id}/import": {
      "post": {
        "summary": "Import ontology",
        "description": "Imports an ontology from a file in a supported format (RDF/XML, Turtle, JSON-LD, OWL/XML). Merges into the existing ontology unless `replace=true`, which replaces all existing content.",
        "operationId": "importOntology",
        "tags": ["Ontologies"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ontology ID to import into",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImportOntologyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/OntologyDetail" },
                    "imported_classes": { "type": "integer" },
                    "imported_properties": { "type": "integer" },
                    "imported_individuals": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/versioning/commits": {
      "post": {
        "summary": "Create commit",
        "description": "Creates a new commit in the versioning graph, capturing all uncommitted changes to the ontology.",
        "operationId": "createCommit",
        "tags": ["Versioning"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCommitRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Commit created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CommitSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "get": {
        "summary": "List commits",
        "description": "Returns a paginated list of commits for an ontology, optionally filtered by branch.",
        "operationId": "listCommits",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "ontology_id",
            "in": "query",
            "description": "Filter by ontology ID",
            "schema": { "type": "string", "format": "uuid" },
            "required": false
          },
          {
            "name": "branch_id",
            "in": "query",
            "description": "Filter by branch ID",
            "schema": { "type": "string", "format": "uuid" },
            "required": false
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of commits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CommitSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      }
    },
    "/versioning/commits/{id}": {
      "get": {
        "summary": "Get commit",
        "description": "Returns commit details including parent SHA, message, and author.",
        "operationId": "getCommit",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Commit ID or SHA",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Commit details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CommitSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      }
    },
    "/versioning/commits/{id}/delta": {
      "get": {
        "summary": "Get commit delta",
        "description": "Returns the changes introduced by a commit (added/modified/removed axioms).",
        "operationId": "getCommitDelta",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Commit ID or SHA",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Commit delta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "added": {
                          "type": "array",
                          "items": { "type": "object" },
                          "description": "Axioms added in this commit"
                        },
                        "modified": {
                          "type": "array",
                          "items": { "type": "object" },
                          "description": "Axioms modified in this commit"
                        },
                        "removed": {
                          "type": "array",
                          "items": { "type": "object" },
                          "description": "Axioms removed in this commit"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      }
    },
    "/versioning/commits/{id}/checkout": {
      "post": {
        "summary": "Checkout commit",
        "description": "Sets the active workspace to the state at the specified commit. Uncommitted changes are stashed.",
        "operationId": "checkoutCommit",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Commit ID or SHA",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "200": {
            "description": "Workspace checked out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CommitSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/versioning/commits/{id}/rollback": {
      "post": {
        "summary": "Rollback to commit",
        "description": "Creates a new commit that reverts the ontology to the state at the specified commit. Returns the new rollback commit.",
        "operationId": "rollbackToCommit",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Commit ID or SHA to rollback to",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "Optional rollback commit message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rollback commit created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CommitSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/versioning/branches": {
      "post": {
        "summary": "Create branch",
        "description": "Creates a new branch from the specified commit or the current HEAD.",
        "operationId": "createBranch",
        "tags": ["Versioning"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBranchRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/BranchSummary" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      },
      "get": {
        "summary": "List branches",
        "description": "Returns a paginated list of branches for an ontology.",
        "operationId": "listBranches",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "ontology_id",
            "in": "query",
            "description": "Filter by ontology ID",
            "schema": { "type": "string", "format": "uuid" },
            "required": false
          },
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PerPage" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of branches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BranchSummary" }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      }
    },
    "/versioning/branches/{id}": {
      "get": {
        "summary": "Get branch",
        "description": "Returns branch details including head SHA.",
        "operationId": "getBranch",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Branch ID",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/BranchSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" }
        }
      },
      "delete": {
        "summary": "Delete branch",
        "description": "Deletes a branch. The default branch cannot be deleted.",
        "operationId": "deleteBranch",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Branch ID",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "204": { "description": "Branch deleted" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/versioning/branches/{id}/switch": {
      "post": {
        "summary": "Switch branch",
        "description": "Makes the specified branch the active branch for the workspace.",
        "operationId": "switchBranch",
        "tags": ["Versioning"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Branch ID to switch to",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "responses": {
          "200": {
            "description": "Branch switched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/BranchSummary" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    },
    "/versioning/branches/merge": {
      "post": {
        "summary": "Merge branches",
        "description": "Merges the source branch into the target branch, producing a merge commit on the target.",
        "operationId": "mergeBranches",
        "tags": ["Versioning"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MergeBranchesRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merge completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/CommitSummary" },
                    "conflicts": {
                      "type": "array",
                      "items": { "type": "object" },
                      "description": "Conflicts encountered during merge (empty array for clean merges)"
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/400Response" },
          "401": { "$ref": "#/components/responses/401Response" },
          "403": { "$ref": "#/components/responses/403Response" },
          "404": { "$ref": "#/components/responses/404Response" },
          "409": { "$ref": "#/components/responses/409Response" },
          "429": { "$ref": "#/components/responses/429RateLimit" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Page number (1-based)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "required": false
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "description": "Results per page (max 100)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "required": false
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Idempotency key for write operations",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": false
      }
    },
    "responses": {
      "400Response": {
        "description": "Invalid input",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "401Response": {
        "description": "Unauthorized — missing or invalid JWT",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "403Response": {
        "description": "Forbidden — insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "404Response": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "409Response": {
        "description": "Conflict — e.g., duplicate group name",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "422Response": {
        "description": "Unprocessable — e.g., last-owner removal",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "429RateLimit": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": { "type": "integer", "description": "Current page number" },
          "per_page": { "type": "integer", "description": "Items per page" },
          "total": { "type": "integer", "description": "Total number of items" },
          "total_pages": { "type": "integer", "description": "Total number of pages" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "description": "Domain-prefixed error code" },
              "message": { "type": "string", "description": "Human-readable error message" }
            }
          }
        }
      },
      "OntologySummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "class_count": { "type": "integer" },
          "property_count": { "type": "integer" },
          "individual_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "OntologyDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "version": { "type": "string" },
          "class_count": { "type": "integer" },
          "property_count": { "type": "integer" },
          "individual_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ClassSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "comment": { "type": "string" },
          "parent_id": { "type": "string" },
          "child_count": { "type": "integer" }
        }
      },
      "ClassDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "comment": { "type": "string" },
          "iri": { "type": "string" },
          "parent_ids": { "type": "array", "items": { "type": "string" } },
          "breadcrumb": { "type": "array", "items": { "type": "string" } },
          "property_count": { "type": "integer" },
          "individual_count": { "type": "integer" }
        }
      },
      "PropertySummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "type": { "type": "string", "enum": ["object", "datatype"] },
          "domain": { "type": "string" },
          "range": { "type": "string" },
          "is_functional": { "type": "boolean" }
        }
      },
      "IndividualSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "label": { "type": "string" },
          "class_id": { "type": "string" },
          "class_name": { "type": "string" },
          "property_count": { "type": "integer" }
        }
      },
      "GroupSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "parent_id": { "type": "string", "format": "uuid" },
          "child_count": { "type": "integer" },
          "member_count": { "type": "integer" }
        }
      },
      "GroupDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "parent_id": { "type": "string", "format": "uuid" },
          "path": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Ancestor group labels from root to this group"
          },
          "children": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroupSummary" }
          },
          "member_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ProjectSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "group_id": { "type": "string", "format": "uuid" },
          "group_name": { "type": "string" }
        }
      },
      "ProjectDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "description": { "type": "string" },
          "group_id": { "type": "string", "format": "uuid" },
          "group_name": { "type": "string" },
          "ontology_id": { "type": "string", "format": "uuid", "description": "ID of the 1:1 paired Ontology" },
          "upstream_project_id": { "type": "string", "format": "uuid", "nullable": true, "description": "ID of the upstream Project if this is a fork, null otherwise" },
          "forks_count": { "type": "integer", "description": "Number of forks created from this Project" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "MemberSummary": {
        "type": "object",
        "properties": {
          "user_id": { "type": "string" },
          "role": { "$ref": "#/components/schemas/RoleEnum" },
          "scope": {
            "type": "string",
            "description": "Scope of the membership: group or project"
          },
          "added_at": { "type": "string", "format": "date-time" }
        }
      },
      "RoleEnum": {
        "type": "string",
        "enum": ["Guest", "Reporter", "Developer", "Maintainer", "Owner"],
        "description": "Permission hierarchy: Guest (read-only) < Reporter (read + comment) < Developer (read/write) < Maintainer (manage members) < Owner (full control)"
      },
      "VisibilityLevel": {
        "type": "string",
        "enum": ["private", "internal", "public"],
        "description": "private: only explicit members; internal: all org members; public: anyone"
      },
      "PolicySummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "effect": {
            "type": "string",
            "enum": ["allow", "deny"]
          },
          "actions": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of actions this policy applies to (e.g., view, edit, delete, manage)"
          },
          "subjects": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of subject IDs this policy applies to (users or groups)"
          }
        }
      },
      "CreateGroupRequest": {
        "type": "object",
        "properties": {
          "label": { "type": "string", "description": "Group display name" },
          "description": { "type": "string", "description": "Optional group description" },
          "parent_id": { "type": "string", "format": "uuid", "description": "Optional parent group ID for nested groups" }
        },
        "required": ["label"]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "label": { "type": "string", "description": "Project display name" },
          "description": { "type": "string", "description": "Optional project description" },
          "group_id": { "type": "string", "format": "uuid", "description": "Parent group ID" }
        },
        "required": ["label", "group_id"]
      },
      "AddMemberRequest": {
        "type": "object",
        "properties": {
          "user_id": { "type": "string", "description": "User ID to add" },
          "role": { "$ref": "#/components/schemas/RoleEnum" }
        },
        "required": ["user_id", "role"]
      },
      "UpdateMemberRoleRequest": {
        "type": "object",
        "properties": {
          "role": { "$ref": "#/components/schemas/RoleEnum" }
        },
        "required": ["role"]
      },
      "SetVisibilityRequest": {
        "type": "object",
        "properties": {
          "visibility": { "$ref": "#/components/schemas/VisibilityLevel" }
        },
        "required": ["visibility"]
      },
      "CreatePolicyRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Policy name" },
          "effect": {
            "type": "string",
[...]
